@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	background-color: #191413;
}

/* header */
nav {
	padding: 5px 20px;
	display: flex;
	align-items: center;
	color: #fced12;
}
.logo {
	flex: 1;
}
.logo a {
	display: flex;
	align-items: center;
}
.logo img {
	width: 75px;
}

.menu {
	display: flex;
	align-items: center;
	list-style: none;
}

.menu li {
	padding: 15px 10px;
	font-size: 16px;
	text-align: center;
}

.toggle {
	font-size: 32px;
	display: none;
}

/* image carousel */
.slider {
	overflow: hidden;
	height: 750 px;
}
.slider figure {
	position: relative;
	/* height: 500px; */
	width: 500%;
	margin: 0;
	left: 0;
	animation: 20s slider infinite;
}
.slider figure img {
	width: 20%;
	float: left;
	object-fit: cover;
	height: 35em;
}

@keyframes slider {
	0% {
		left: 0;
	}
	20% {
		left: 0;
	}
	25% {
		left: -100%;
	}
	45% {
		left: -100%;
	}
	50% {
		left: -200%;
	}
	70% {
		left: -200%;
	}
	75% {
		left: -300%;
	}
	95% {
		left: -300%;
	}
	100% {
		left: -400%;
	}
}

@media screen and (max-width: 600px) {
	nav {
		display: block;
		position: relative;
		padding: 15px 20px;
	}

	.menu {
		margin-top: 15px;
		display: none;
	}

	.menu.active,
	.toggle {
		display: block;
	}

	.toggle {
		position: absolute;
		top: 35px;
		right: 20px;
	}
}
